﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FontEnd.Master" AutoEventWireup="true" CodeBehind="ListProductDetail.aspx.cs" Inherits="CarpowerWebApplication.ListProductDetail" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Product Card/Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <%-- bootstrap--%>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <style>
           /* ********* Nav Bar **********/
           /* ********* End Nav Bar **********/
            @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

            * {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
            }

            body {
                line-height: 1.5;
            }

            .card-wrapper {
                max-width: 1100px;
                margin: 0 auto;
            }

            img {
                width: 100%;
                display: block;
            }

            .img-display {
                overflow: hidden;
            }

            .img-showcase {
                display: flex;
                width: 100%;
                transition: all 0.5s ease;
            }

                .img-showcase img {
                    min-width: 100%;
                }

            .img-select {
                display: flex;
            }

            .img-item {
                margin: 0.3rem;
            }

                .img-item:nth-child(1),
                .img-item:nth-child(2),
                .img-item:nth-child(3) {
                    margin-right: 0;
                }

                .img-item:hover {
                    opacity: 0.8;
                }

            .product-content {
                padding: 2rem 1rem;
            }

            .product-title {
                font-size: 3rem;
                text-transform: capitalize;
                font-weight: 700;
                position: relative;
                color: #12263a;
                margin: 1rem 0;
            }

                .product-title::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 4px;
                    width: 80px;
                    background: #12263a;
                }

            .product-link {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 0.9rem;
                display: inline-block;
                margin-bottom: 0.5rem;
                background: #256eff;
                color: #fff;
                padding: 0 0.3rem;
                transition: all 0.5s ease;
            }

                .product-link:hover {
                    opacity: 0.9;
                }

            .product-rating {
                color: #ffc107;
            }

                .product-rating span {
                    font-weight: 600;
                    color: #252525;
                }

            .product-price {
                margin: 1rem 0;
                font-size: 1rem;
                font-weight: 700;
            }

                .product-price span {
                    font-weight: 400;
                }

            .last-price span {
                color: #f64749;
                text-decoration: line-through;
            }

            .new-price span {
                color: #256eff;
            }

            .product-detail h2 {
                text-transform: capitalize;
                color: #12263a;
                padding-bottom: 0.6rem;
            }

            .product-detail p {
                font-size: 0.9rem;
                padding: 0.3rem;
                opacity: 0.8;
            }

            .product-detail ul {
                margin: 1rem 0;
                font-size: 0.9rem;
            }

                .product-detail ul li {
                    margin: 0;
                    list-style: none;
                    background: url(shoes_images/checked.png) left center no-repeat;
                    background-size: 18px;
                    padding-left: 1.7rem;
                    margin: 0.4rem 0;
                    font-weight: 600;
                    opacity: 0.9;
                }

                    .product-detail ul li span {
                        font-weight: 400;
                    }

            .purchase-info {
                margin: 1.5rem 0;
            }

                .purchase-info input,
                .purchase-info .btn {
                    border: 1.5px solid #ddd;
                    border-radius: 25px;
                    text-align: center;
                    padding: 0.45rem 0.8rem;
                    outline: 0;
                    margin-right: 0.2rem;
                    margin-bottom: 1rem;
                }

                .purchase-info input {
                    width: 60px;
                }

                .purchase-info .btn {
                    cursor: pointer;
                    color: #fff;
                }

                    .purchase-info .btn:first-of-type {
                        background: #256eff;
                    }

                    .purchase-info .btn:last-of-type {
                        background: #f64749;
                    }

                    .purchase-info .btn:hover {
                        opacity: 0.9;
                    }

            .social-links {
                display: flex;
                align-items: center;
            }

                .social-links a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    color: #000;
                    border: 1px solid #000;
                    margin: 0 0.2rem;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: 0.8rem;
                    transition: all 0.5s ease;
                }

                    .social-links a:hover {
                        background: #000;
                        border-color: transparent;
                        color: #fff;
                    }

            @media screen and (min-width: 992px) {
                .card {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 1.5rem;
                }

                .card-wrapper {
                    height: 100vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .product-imgs {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .product-content {
                    padding-top: 0;
                }
            }

            /*navbar*/

             
        </style>
    </head>
    <body>

          <nav class="navbar navbar-expand-sm  fixed-top" style="background-color: rgb(63, 149, 248);">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="images/Car-Power-Logo.png" alt="" style="width: 45px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" style="color: cornsilk;" href="CarPowerLayout.aspx">ទំព័រដើម</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="WebFormAboutUS.aspx" style="color: cornsilk;">អំពីយើង</a>
                        </li>
                    </ul>

                </div>
                <form class="d-flex">
                    <div class="dropdown">
                        <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="color: cornsilk; border-color: rgb(63, 149, 248) !important;">ភាសា
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="#">ខ្មែរ</a></li>
                            <li><a class="dropdown-item" href="#">អង្គគ្លេស</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>

        <br>
        <br>
        <div class="card-wrapper">
            <div class="card">
                <!-- card left -->
                <div class="product-imgs">
                    <div class="img-display">
                        <%-- list img here--%>
                        <asp:DataList ID="DataListImg" runat="server" DataKeyField="ProductID" DataSourceID="SqlDataSourceListImg">
                            <ItemTemplate>
                                <asp:Label ID="imageLabel" runat="server" Visible="false" Text='<%# Eval("image") %>' />
                                <asp:Image ID="Image1" runat="server" ImageUrl='<%# Eval("image") %>' />
                                <br />
                                <asp:Label ID="ProductIDLabel" runat="server" Visible="false" Text='<%# Eval("ProductID") %>' />
                                <br />
                                <br />
                            </ItemTemplate>
                        </asp:DataList>
                        <asp:SqlDataSource ID="SqlDataSourceListImg" runat="server" ConnectionString="<%$ ConnectionStrings:carpowerConnectionString2 %>" SelectCommand="Pro_List_Img" SelectCommandType="StoredProcedure">
                            <SelectParameters>
                                <asp:QueryStringParameter Name="ProductID" QueryStringField="ProductID" Type="Int32" />
                            </SelectParameters>
                        </asp:SqlDataSource>
                        <%--//list img here--%>
                        <div class="img-showcase">

                            <img src="shoes_images/shoe_1.jpg" alt="shoe image">
                            <img src="shoes_images/shoe_2.jpg" alt="shoe image">
                            <img src="shoes_images/shoe_3.jpg" alt="shoe image">
                            <img src="shoes_images/shoe_4.jpg" alt="shoe image">
                        </div>
                    </div>
                    <div class="img-select">
                        <div class="img-item">
                            <a href="#" data-id="1">
                                <img src="shoes_images/shoe_1.jpg" alt="shoe image">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="2">
                                <img src="shoes_images/shoe_2.jpg" alt="shoe image">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="3">
                                <img src="shoes_images/shoe_3.jpg" alt="shoe image">
                            </a>
                        </div>
                        <div class="img-item">
                            <a href="#" data-id="4">
                                <img src="shoes_images/shoe_4.jpg" alt="shoe image">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- card right -->
                <div class="product-content">
                    <asp:DataList ID="DataListDecription" runat="server" DataSourceID="SqlDataSource1" DataKeyField="ProductID">
                        <ItemTemplate>
                            <h2 class="product-title">
                                <asp:Label ID="ProductNameLabel" runat="server" Text='<%# Eval("ProductName") %>' /></h2>
                            <asp:Label ID="DescriptionDetailsProductLabel" runat="server" Text='<%# Eval("DescriptionDetailsProduct") %>' />

                            <%-- price--%>
                            <div class="product-price">
                                <p class="new-price">
                                    Price: <span>
                                        <asp:Label ID="UnitPriceLabel" runat="server" Text='<%# Eval("UnitPrice") %>' /></span>
                                </p>
                            </div>
                            <%--//price--%>

                            <div class="product-detail">
                                <h2>about this car: </h2>
                                <p>
                                    <asp:Label ID="detailLabel" runat="server" Text='<%# Eval("detail") %>' />
                                </p>
                                <ul>
                                    <li>Color: <span>
                                        <asp:Label ID="ColorLabel" runat="server" Text='<%# Eval("Color") %>' /></span></li>
                                    <li>Year: <span>
                                        <asp:Label ID="YearLabel" runat="server" Text='<%# Eval("Year") %>' /></span></li>
                                    <li>Car model: <span>
                                        <asp:Label ID="CarModelLabel" runat="server" Text='<%# Eval("CarModel") %>' /></span></li>
                                    <li>Shipping Fee: <span>Free</span></li>
                                </ul>
                            </div>
                            <asp:Label ID="CarMakesLabel" runat="server" Visible="false" Text='<%# Eval("CarMakes") %>' />
                            <asp:Label ID="ProductIDLabel" runat="server" Visible="false" Text='<%# Eval("ProductID") %>' />

                        </ItemTemplate>
                    </asp:DataList>
                    <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:carpowerConnectionString2 %>" SelectCommand="listDecription" SelectCommandType="StoredProcedure">
                        <SelectParameters>
                            <asp:QueryStringParameter Name="ProductID" QueryStringField="ProductID" Type="Int32" />
                        </SelectParameters>
                    </asp:SqlDataSource>

                    <div class="purchase-info">
                        <input type="number" min="0" value="1">
                        <button type="button" class="btn">
                            Add to Cart <i class="fas fa-shopping-cart"></i>
                        </button>
                        <button type="button" class="btn">Compare</button>
                    </div>

                    <div class="social-links">

                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-whatsapp"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <asp:SqlDataSource ID="SqlDataSource3" runat="server"></asp:SqlDataSource>
        <asp:SqlDataSource ID="SqlDataSource2" runat="server"></asp:SqlDataSource>


        <script>
            const imgs = document.querySelectorAll('.img-select a');
            const imgBtns = [...imgs];
            let imgId = 1;

            imgBtns.forEach((imgItem) => {
                imgItem.addEventListener('click', (event) => {
                    event.preventDefault();
                    imgId = imgItem.dataset.id;
                    slideImage();
                });
            });

            function slideImage() {
                const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

                document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
            }

            window.addEventListener('resize', slideImage);
        </script>
    </body>
    </html>
</asp:Content>
