﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CarpowerMonitoring.Master" AutoEventWireup="true" CodeBehind="ManageAllForm.aspx.cs" Inherits="CarpowerWebApplication.ManageAllForm" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <h2 style="width: 100%; height: 51px; background-color: #e9f1ee;">Report</h2>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <h5><a class="nav-link" href="#" style="font-weight: bold; color: #6bb7b4">Report Daily</a></h5>
        </div>
        <div class="col-lg-4">
            <h5><a class="nav-link" href="#" style="font-weight: bold; color: #6bb7b4">Report Daily ListProduct</a></h5>
        </div>
        <div class="col-lg-4">
            <h5><a class="nav-link" href="#" style="font-weight: bold; color: #6bb7b4">Report List Product</a></h5>
        </div>
    </div>
    <br />
   
</asp:Content>
