﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CarPower.Master" AutoEventWireup="true" CodeBehind="Map.aspx.cs" Inherits="CarpowerWebApplication.Contact" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <div class="container">
	<div class="map">
		<iframe src="https://maps.app.goo.gl/cUuHzANQEyadcs9h9" width="100%" height="650px" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	
</div>


</asp:Content>
