﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FontEnd.Master" AutoEventWireup="true" CodeBehind="TesrWebFormListPro.aspx.cs" Inherits="CarpowerWebApplication.TesrWebFormListPro" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:DataList ID="DataListTest" runat="server"></asp:DataList>
</asp:Content>
