@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Kantumruy+Pro&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Kantumruy+Pro&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.data {
    display: none;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}


html {
    overflow-x: hidden;

}

select option .box {
    font-family: 'Kantumruy Pro', sans-serif;
}

.dropstart {
    display: inline-block;
    justify-content: space-between;
    position: relative;
    right: 10px;
    align-items: center;
}

/* button bootsrap */
.btn .btn-info {
    background-color: white;
    border: 1px solid rgb(23, 152, 194);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

.head .toggle {
    margin-right: 20px;
}

.head .toggle ion-icon:active {
    opacity: 0.5;

    border-radius: 50px;
}

.head .toggle ion-icon {
    color: aliceblue;
    font-size: 1.5em;
    position: relative;
    top: 3px;
}

#navbar_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background: rgb(23, 152, 194);
    background: linear-gradient(27deg, rgba(23, 152, 194, 1) 0%, rgba(43, 197, 233, 1) 50%, rgba(68, 247, 185, 1) 100%);
}

#navbar_top .navbar-brand {
    color: azure;
    font-weight: 500;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Kantumruy Pro', sans-serif;
}


.flex-box {
    position: relative;
    width: 100%;
    top: 8vh;
}

.left-panel {
    position: fixed;
    width: 218px;
    height: 100vh;
    background-color: rgb(255, 245, 245);
    transition: 0.5s;
    border-right: 1px solid rgb(207, 207, 207);
    box-shadow: 0px 8px 15px -6px rgb(59, 59, 59);
}

.left-panel.active {
    border-right: 1px solid #0082bc;
    width: 10px;
}

.right-panel {
    position: absolute;
    width: calc(100% - 220px);
    left: 220px;
    min-height: 100vh;
    background: rgb(235, 235, 235);
    transition: 0.5s;
    padding: 0px 10px;
}

.right-panel.active {
    width: calc(100% - 70px);
    left: 70px;
}

.left-panel.active,
.left-panel ul li:hover {
    background-color: rgb(23, 152, 194);
}

.left-panel ul {
    position: absolute;
    top: 2vh;
    left: 0;
    width: 240;
    padding: 0;
    margin-left: 0;
}

.left-panel ul li {
    position: relative;
    width: 100%;
    list-style: none;
    left: 0;
    margin-left: 8px;
    padding-right: 11px;
}

.left-panel ul li:hover,
.left-panel ul li.hovered {
    background-color: rgb(23, 152, 194);
    border-radius: 5px;
}

.left-panel ul li a {
    position: relative;
    width: 100%;
    padding-left: 21px;
    display: flex;
    text-decoration: none;
    color: rgb(23, 152, 194);

}

.left-panel ul li:hover a,
.left-panel ul li.hovered a {
    color: var(--grey);
}

.left-panel ul li a .icon {
    position: relative;
    display: block;
    min-width: 10px;
    height: 10px;
    line-height: 50px;
    text-align: center;
}

.left-panel ul li a .icon ion-icon {
    font-size: 1.50em;
}

.left-panel ul li a .title {
    position: relative;
    display: block;
    padding: 0 25px;
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;
    text-align: start;
    white-space: nowrap;
    font-family: 'Kantumruy Pro', sans-serif;
}

.form1 {
    width: 100%;
    background-color: white;
    padding: 13px 0px 13px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

/* form */
.right-panel .head_text {
    position: relative;
    color: rgb(23, 152, 194);
    text-align: center;
    padding-top: 10px;
}

.right-panel .form {
    width: 100%;
    padding: 30px;
}

.right-panel .head_text span {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 900;
    font-size: 2.3em;
    line-height: 50px;
    background-color: white;
    text-align: center;
    padding: 0px 10px;
}

.right-panel .head_text p {
    font-family: 'Battambang', cursive;
    font-weight: 600;
}

.right-panel .form .text-on {
    position: relative;
    top: 12px;
    left: 10px;
    background-color: white;
    padding: 0px 5px;
    color: rgb(23, 152, 194);
    font-family: 'Kantumruy Pro', sans-serif;

}

.right-panel .form #date {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    padding: 9px 10px;
}

.right-panel .form .box {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(23, 152, 194);
}

.right-panel .form .box:focus {
    outline: 1px solid rgba(43, 197, 233, 1);
    border: 1px solid transparent;
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    padding: 10px 10px;
    width: 100%;
}

.right-panel select.box:not([size]):not([multiple]) {
    height: calc(2.2rem + 10px);
}

.right-panel button {
    font-family: 'Kantumruy Pro', sans-serif;
    color: white;

}

.right-panel button:hover {
    color: aliceblue;
}

.right-panel button .iconin ion-icon {
    position: relative;
    top: 3px;
    right: 3px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 30px;

    overflow-y: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid rgb(23, 152, 194);
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    /* Could be more or less, depending on screen size */
}

.modal-content .head_text {
    margin-top: 40px;
}

.modal-content::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(23, 152, 194, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(12, 7, 7);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/* insertbtn */
.insertbtn {
    display: flex;
    border: none;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(23, 152, 194);
    border-left: none;
    background-color: #0082bc;
    border-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

/* បង្ហាញទិន្នន័យ */
.showbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 46px;
    border: none;
    border: 1px solid rgb(23, 152, 194);
    border-left: none;
    background-color: #0082bc;
    border-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

.showbtn:active {
    opacity: 0.5;
}

.showbtn:hover {
    background-color: #024969;
    border: #024969;
}

/* top title */
.header {
    width: 100%;
    background-color: rgb(23, 152, 194);
    padding: 13px 0px 13px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.header span {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1.5em;
    color: aliceblue;
}

.topform {
    display: flex;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    left: 12px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

.topform .input-group {
    position: relative;
}

.topform .input-group .box {


    border: 1px solid #0082bc;
    outline: none;
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(23, 152, 194);
    padding-left: 10px;
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #0082bc;
    border-right: none;
    height: 46px;


}

.topform .input-group .box:focus {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2),
        inset -1px -1px 5px #e9e9e9;
    width: 80%;
    border: 1px solid #0082bc;
    outline: none;
}


.topform .input-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 46px;
    border: none;
    border: 1px solid rgb(23, 152, 194);
    border-left: none;
    background-color: #0082bc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.topform .input-group button:active {
    opacity: 0.8;
}

.topform .input-group button:hover {
    background-color: #024969;
    border: #024969;
}

.topform select {
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(23, 152, 194);
    width: 100%;
    height: 46px;
    color: #0082bc;
    border-radius: 5px;
    padding: 0px 10px;

}

.topform select:focus {
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(23, 152, 194);
    width: 100%;
    color: #0082bc;
    border-radius: 5px;
    outline: none;

}

.topform select option {
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(23, 152, 194);
    width: 100%;
    border-radius: 5px;
    color: #0082bc;
}


.table {
    border-left: 1px solid rgb(23, 152, 194);
    border-right: 1px solid rgb(23, 152, 194);
}

.table>thead>tr>th {
    background-color: rgba(23, 152, 194, 1);
    color: aliceblue;
    font-family: 'Kantumruy Pro', sans-serif;
}

.table>tbody>tr>td {
    border-bottom: 1px solid rgb(207, 240, 252);
}

.table>tbody>tr:hover td {
    background-color: rgb(9, 122, 148);
    color: aliceblue;
}

.right-panel .table td {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(23, 152, 194);
}

/* upload */
select {
    appearance: none;
    background-image: url(https://www.freeiconspng.com/thumbs/arrow-down-icon-png/black-arrow-down-icon-png-16.png) no-repeat;
}

.upload {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(23, 152, 194);

}

.form-upload ion-icon {
    color: rgb(23, 152, 194);
    font-size: 2em;
    border-radius: 10px;
    padding: 10px;
}

/* info-admin */
.info-admin {
    background-color: white;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* main box */
.right-panel .report-box .box {
    position: relative;
    display: flex;
    justify-content: space-around;

    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
    padding: 15px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0px;
}

/* box1 */
.right-panel .report-box .box .box1 {
    height: 130px;
    width: 230px;
    display: block;
    background-color: #0082bc;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

.right-panel .report-box .box .box1 .icon {
    position: relative;
    color: aliceblue;
    font-size: 13em;
    top: -50px;
    left: -60px;
    opacity: 0.6;
}

.right-panel .report-box .box .box1 .data-sum {
    color: aliceblue;
    font-size: 2.9em;
    opacity: 1;
    left: 60%;
    top: 20px;
    font-weight: 500;
    position: absolute;
    font-family: 'Kantumruy Pro', sans-serif;
}

.right-panel .report-box .box .box1 .data-sum span {
    font-size: 0.4em;
    position: absolute;
    top: 100%;
    left: 5%;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}

/* box2 */
.right-panel .report-box .box .box2 {
    height: 130px;
    width: 230px;
    display: block;
    background-color: green;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.right-panel .report-box .box .box2 .icon {
    position: relative;
    color: aliceblue;
    font-size: 13em;
    top: -50px;
    left: -60px;
    opacity: 0.6;
}

.right-panel .report-box .box .box2 .data-sum {
    color: aliceblue;
    font-size: 2.9em;
    opacity: 1;
    left: 60%;
    top: 10px;
    font-weight: 500;
    position: absolute;
    font-family: 'Kantumruy Pro', sans-serif;
}

.right-panel .report-box .box .box2 .data-sum span {
    font-size: 0.4em;
    position: absolute;
    top: 100%;
    left: -0%;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}

/* box 3 */
.right-panel .report-box .box .box3 {
    height: 130px;
    width: 230px;
    display: block;
    background-color: red;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.right-panel .report-box .box .box3 .icon {
    position: relative;
    color: aliceblue;
    font-size: 13em;
    top: -50px;
    left: -60px;
    opacity: 0.6;
}

.right-panel .report-box .box .box3 .data-sum {
    color: aliceblue;
    font-size: 2.9em;
    opacity: 1;
    left: 65%;
    top: 10px;
    font-weight: 500;
    position: absolute;
    font-family: 'Kantumruy Pro', sans-serif;
}

.right-panel .report-box .box .box3 .data-sum span {
    font-size: 0.4em;
    position: absolute;
    top: 100%;
    left: -20%;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}

/* box4 */

.right-panel .report-box .box .box4 {
    height: 130px;
    width: 230px;
    display: block;
    background-color: grey;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.right-panel .report-box .box .box4 .icon {
    position: relative;
    color: aliceblue;
    font-size: 11em;
    top: -35px;
    left: -40px;
    opacity: 0.6;
}

.right-panel .report-box .box .box4 .data-sum {
    color: aliceblue;
    font-size: 2.9em;
    opacity: 1;
    left: 65%;
    top: 10px;
    font-weight: 500;
    position: absolute;
    font-family: 'Kantumruy Pro', sans-serif;
}

.right-panel .report-box .box .box4 .data-sum span {
    font-size: 0.4em;
    position: absolute;
    top: 100%;
    left: -15%;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}


/* login */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: rgb(23, 152, 194);
    background: linear-gradient(27deg, rgba(23, 152, 194, 1) 0%, rgba(43, 197, 233, 1) 50%, rgba(68, 247, 185, 1) 100%);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.body {
    padding: 25px;
    background-color: rgb(31, 30, 30);
    font-size: 25px;
}

.dark-mode .left-panel {
    background-color: rgb(61, 61, 61);
}

.dark-mode .right-panel {
    background-color: #363636;
}

.dark-mode select,
.dark-mode input,
.dark-mode .box:focus,
.dark-mode .form1,
.dark-mode .info-admin {
    background-color: #3d3d3d;
    color: #e9e9e9;
    box-shadow: 0px 1px 1px -1px rgb(255, 255, 255);
    border: 1px solid grey;
}

.dark-mode .table td,
.dark-mode .table>tbody>tr:hover td,
.dark-mode .table>tbody>tr>td {
    font-family: 'Kantumruy Pro', sans-serif;
    color: aliceblue;
    background-color: #3d3d3d;

}

.dark-mode .right-panel .report-box .box {
    font-family: 'Kantumruy Pro', sans-serif;
    color: aliceblue;
    box-shadow: 0px 1px 4px -1px rgb(240, 240, 240);
    background-color: #3d3d3d;
}

.dark-mode .right-panel .report-box .box1,
.dark-mode .right-panel .report-box .box2,
.dark-mode .right-panel .report-box .box3,
.dark-mode .right-panel .report-box .box4 {
    font-family: 'Kantumruy Pro', sans-serif;
    color: aliceblue;
    box-shadow: 0px 1px 4px -1px rgb(240, 240, 240);

}

.dark-mode .table {
    border-left: 1px solid rgb(105, 105, 105);
    border-right: 1px solid rgb(90, 89, 89);

}

.dark-mode .table>thead>tr>th {
    background-color: rgba(23, 152, 194, 1);
    color: aliceblue;
    font-family: 'Kantumruy Pro', sans-serif;

}

.dark-mode .table>tbody>tr>td {
    color: aliceblue;
    background-color: #3d3d3d;
    border-bottom: 1px solid rgb(161, 161, 161);
}

.dark-mode .right-panel .head_text span,
.dark-mode .right-panel .form .text-on {
    color: aliceblue;
    background-color: #3d3d3d;
}

.dark-mode .right-panel .form .box,
.dark-mode .right-panel .form .box:focus {
    border: 1px solid aliceblue;
    color: aliceblue;
    outline: none;
}

.dark-mode * {
    color:rgb(214, 214, 214);
}

.dark-mode .right-panel .form #date {
    color: aliceblue;
}

/* The Modal (background) */
.dark-mode .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 30px;

    overflow-y: hidden;
}

/* Modal Content/Box */
.dark-mode .modal-content {
    background-color: #3d3d3d;
    margin: 2% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid rgb(23, 152, 194);
    width: 80%;
    padding: 30px;
    border-radius: 10px;
    /* Could be more or less, depending on screen size */
}

.dark-mode .modal-content .head_text {
    margin-top: 40px;
}
.dark-mode .left-panel .pf-title span{
    color: aliceblue;
}
.dark-mode .modal-content::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgba(23, 152, 194, 1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* The Close Button (x) */
.dark-mode .close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.dark-mode .close:hover,
.dark-mode .close:focus {
    color: rgb(12, 7, 7);
    cursor: pointer;
}

.dark-mode .left-panel.active {
    width: 10px;
    background-color: rgb(61, 61, 61);
    border: none;
}
.dark-mode .input-group .box{
     border: 1px solid rgb(196, 196, 196);
}
.dark-mode .input-group .box:focus{
    border: 1px solid  rgb(196, 196, 196);
    outline: none;
    color: var(--grey);
}
.dark-mode .left-panel.active ion-icon {
    font-size: 1.50em;
    color: rgb(61, 61, 61);
}

.dark ion-icon {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-show {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 10px;
}

.acc-show .pf-acc {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    overflow: hidden;
}

.acc-show .pf-acc:hover {
    background-color: #ffffff7e;
    transition: 0.5s;
}

.acc-show .pf-acc img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.acc-show .pf-acc:active {
    opacity: 0.3;
}

.detail {
    height: 190px;
    width: 170px;
    background-color: whitesmoke;
    position: absolute;
    display: none;
    left: -115px;
    top: 38px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px -1px rgb(105, 105, 105);
}

.detail::before {
    content: '';
    width: 100%;
    height: 40px;
    display: block;
    background: rgb(23, 152, 194);
    background: linear-gradient(27deg, rgba(23, 152, 194, 1) 0%, rgba(43, 197, 233, 1) 50%, rgba(68, 247, 185, 1) 100%);

    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.detail .pf {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.detail .pf img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 20px;
    border-radius: 50%;

}

.detail .pf-title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 1.1em;
}

.detail .pf-title span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.detail .pf-title::after {
    content: '';
    display: block;
    background-color: #bdbdbd;
    width: 55%;
    position: absolute;
    height: 1px;
    top: 30px;

}

.detail .pf-menu {
    position: relative;
    width: 100%;
    display: block;
    top: 10px;
    left: 0;
    justify-content: start;
    align-items: center;
    color: #222;
    font-size: 1em;
}

.detail .pf-menu ul {
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: left;
    padding: 0px 5px;
}

.detail .pf-menu ul li {
    width: 100%;

    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    left: 0;
    top: 3px;
    padding: 8px 0px;
}

.detail .pf-menu ul li:hover {
    background-color: #99999998;
    border-radius: 10px;
}

.detail .pf-menu ul li a {
    text-decoration: none;
    color: #575757;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
}

.detail .pf-menu .icon {
    position: relative;
    margin-right: 15px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .pf-menu .text {
    position: relative;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2px;
    font-family: 'Poppins', sans-serif;
}

.detail .pf-menu .text1 {
    position: relative;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    font-family: 'Poppins', sans-serif;
}

.left-panel .pf {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-panel .pf img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 30px;
}

.left-panel .pf-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-panel .pf-title span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    margin-top: 10px;
    color: #158fb4;
}

.left-panel.active .pf {
    display: none;
    transition: ease 1s;
}

.left-panel.active .pf-title {
    display: none;
    transition: ease 1s;
}

.left-panel .pf-title span::after {
    content: '';
    display: block;
    background-color: #cccccc;
    width: 65%;
    justify-content: center;
    position: absolute;
    height: 1px;
    top: 60px;

}
