@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Kantumruy+Pro&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100&family=Chakra+Petch:wght@300&family=Dangrek&family=Farro:wght@300&family=Imprima&family=Jost:wght@300&family=Kantumruy+Pro&family=Koulen&family=Montserrat:wght@100;400&family=Noto+Sans+Khmer:wght@100&family=Plus+Jakarta+Sans:wght@200&family=Poppins:wght@300&family=Quicksand:wght@300&family=Russo+One&family=Secular+One&display=swap');

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.data {
    display: none;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}


html {
    overflow-x: hidden;

}

select option .box {
    font-family: 'Kantumruy Pro', sans-serif;
}

datalist option .box {
    font-family: 'Kantumruy Pro', sans-serif;
}


option {
    font-family: 'Kantumruy Pro', sans-serif;
}

.dropstart {
    display: inline-block;
    justify-content: space-between;
    position: relative;
    right: 10px;
    align-items: center;
}

/* button bootsrap */
.btn .btn-info {
    background-color: white;
    border: 1px solid rgb(23, 152, 194);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

.head .toggle {
    margin-right: 20px;
}

.head .toggle ion-icon:active {
    opacity: 0.5;

    border-radius: 50px;
}

.head .toggle ion-icon {
    color: aliceblue;
    font-size: 1.5em;
    position: relative;
    top: 3px;
}

#navbar_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background: rgb(10, 111, 139);
    background: linear-gradient(75deg, rgba(10, 111, 139, 1) 0%, rgba(0, 130, 145, 0.989233193277311) 60%, rgba(0, 131, 123, 0.9808298319327731) 92%);
}

#navbar_top .navbar-brand {
    color: azure;
    font-weight: 500;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Kantumruy Pro', sans-serif;
}

.discribe {
    color: rgb(10, 111, 139);
}

.flex-box {
    position: relative;
    width: 100%;
    top: 8vh;
}

.left-panel {
    position: fixed;
    width: 218px;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    transition: 0.5s;
    border-right: 1px solid rgb(207, 207, 207);
    box-shadow: 0px 8px 15px -6px rgb(59, 59, 59);
}

.left-panel.active {
    border-right: 1px solid rgb(10, 111, 139);
    width: 10px;
}

.right-panel {
    position: absolute;
    width: calc(100% - 220px);
    left: 220px;
    min-height: 100vh;
    background: rgb(235, 235, 235);
    transition: 0.5s;
    padding: 5px 15px;
}

.right-panel.active {
    width: calc(100% - 70px);
    left: 70px;
}

.left-panel.active,
.left-panel ul li:hover {
    background-color: rgb(10, 111, 139);
}

.left-panel ul {
    position: absolute;
    top: 2vh;
    left: 0;
    width: 240;
    padding: 0;
    margin-left: 0;
}

.left-panel ul li {
    position: relative;
    width: 100%;
    list-style: none;
    left: 0;
    margin-left: 8px;
    padding-right: 11px;
}

.left-panel ul li:hover,
.left-panel ul li.hovered {
    background-color: rgb(10, 111, 139);
    border-radius: 5px;
}

.left-panel ul li a {
    position: relative;
    width: 100%;
    padding-left: 21px;
    display: flex;
    text-decoration: none;
    color: rgb(10, 111, 139);

}

.left-panel ul li:hover a,
.left-panel ul li.hovered a {
    color: var(--grey);
}

.left-panel ul li a .icon {
    position: relative;
    display: block;
    min-width: 10px;
    height: 10px;
    line-height: 50px;
    text-align: center;
}

.left-panel ul li a .icon ion-icon {
    font-size: 1.50em;
}

.left-panel ul li a .title {
    position: relative;
    display: block;
    padding: 0 25px;
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;
    text-align: start;
    white-space: nowrap;
    font-family: 'Kantumruy Pro', sans-serif;
}

.form1 {
    width: 100%;
    background-color: white;
    padding: 13px 0px 13px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
}

/* form */
.right-panel .head_text {
    position: relative;
    color: rgb(10, 111, 139);
    text-align: center;
    padding-top: 10px;
}

.right-panel .form {
    width: 100%;
    padding: 30px;
}

.right-panel .head_text span {
    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 900;
    font-size: 2.3em;
    line-height: 50px;
    background-color: white;
    text-align: center;
    padding: 0px 10px;
}

.right-panel .head_text p {

    font-family: 'Kantumruy Pro', sans-serif;
    font-weight: 500;
    line-height: 2;
}

.text-on {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(10, 111, 139);
    margin-left: 3px;
}

.right-panel .form .text-on {
    position: relative;
    top: 12px;
    left: 10px;
    background-color: white;
    padding: 0px 5px;
    color: rgb(23, 152, 194);
    font-family: 'Kantumruy Pro', sans-serif;

}

.right-panel .form #date {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    padding: 9px 10px;
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year #academicyear {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    padding: 7px 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(23, 152, 194);
}

.right-panel .form .box {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(23, 152, 194);
}

.year #academicyear:focus {
    outline: 1px solid rgba(43, 197, 233, 1);
    border: 1px solid transparent;
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    padding: 7px 10px;
    width: 100%;
}

.right-panel .form .box:focus {
    outline: 1px solid rgba(43, 197, 233, 1);
    border: 1px solid transparent;
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    padding: 10px 10px;
    width: 100%;
}

.right-panel select.box:not([size]):not([multiple]) {
    height: calc(2.2rem + 10px);
}

.right-panel button {
    font-family: 'Kantumruy Pro', sans-serif;
    color: white;

}

.right-panel button:hover {
    color: aliceblue;
}

.right-panel button .iconin ion-icon {
    position: relative;
    top: 3px;
    right: 3px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 30px;

    overflow-y: hidden;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid rgb(23, 152, 194);
    width: 80%;
    padding: 40px 10px 0px 10px;

    border-radius: 10px;
    /* Could be more or less, depending on screen size */
}

.modal-content .head_text {
    margin-top: 40px;
}

.modal-content::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(10, 111, 139);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(12, 7, 7);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/* insertbtn */
.insertbtn {
    display: flex;
    border: none;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(23, 152, 194);
    border-left: none;
    background-color: rgb(10, 111, 139);
    border-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

/* បង្ហាញទិន្នន័យ */
.showbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 46px;
    border: none;
    border: 1px solid rgb(23, 152, 194);
    border-left: none;
    background-color: rgb(10, 111, 139);
    border-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

.showbtn:active {
    opacity: 0.5;
}

.showbtn:hover {
    background-color: #024969;
    border: #024969;
}

/* top title */
.header {
    width: 100%;
    background: rgb(10, 111, 139);
    padding: 8px 0px 8px 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.header span {
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 1.5em;
    color: aliceblue;
}

.showflex {
    display: flex;


    position: relative;
}

.showflex .input-group {
    position: relative;
}

.showflex .input-group .box {
    outline: none;
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(10, 111, 139);
    padding-left: 10px;
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #0082bc;
    border-right: none;
    height: 46px;
}

.showflex .input-group .box:focus {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2),
        inset -1px -1px 5px #e9e9e9;
    width: 80%;
    border: 1px solid rgb(14, 87, 107);
    outline: none;
}

.showflex .input-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 46px;
    border: none;
    border: 1px solid rgb(23, 152, 194);
    border-left: none;
    background-color: rgb(10, 111, 139);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.showflex .input-group button:active {
    opacity: 0.8;
}

.showflex .input-group button:hover {
    background-color: #024969;
    border: #024969;
}

.topform {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: relative;
    left: 12px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

.topform .input-group {
    position: relative;
}

.topform .input-group .box {

    outline: none;
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(10, 111, 139);
    padding-left: 10px;
    width: 80%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #0082bc;
    border-right: none;
    height: 46px;


}

.back {
    color: white;
    font-size: 1em;
}

.back:hover {
    color: white;
    font-size: 1em;
}

a span {
    font-family: 'Kantumruy Pro', sans-serif;
}

.topform .input-group .box:focus {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2),
        inset -1px -1px 5px #e9e9e9;
    width: 80%;
    border: 1px solid rgb(14, 87, 107);
    outline: none;
}

td #value {
    color: rgb(14, 87, 107);
    border-radius: 15px;
    border: 1px solid rgb(14, 87, 107);
    text-align: center;
    padding: 0px;
    width: 130px;
}

td #value:focus {
    color: rgb(14, 87, 107);
    border-radius: 15px;
    border: 1px solid rgb(14, 87, 107);
    outline: none;
}

td {
    vertical-align: middle;
}

#data1 input,
#data2 input {
    display: none;
}

h5 {
    font-family: 'Kantumruy Pro', sans-serif;
}

.rightbtn {
    display: flex;
    justify-content: right;
    align-items: center;
}

input::placeholder,
select::placeholder {
    font-family: 'Kantumruy Pro', sans-serif;

}

.btnn {

    font-family: 'Kantumruy Pro', sans-serif;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    border: none;
    border: 1px solid rgb(23, 152, 194);
    border-left: none;
    background-color: rgb(10, 111, 139);
    border-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

.btnn:active {
    opacity: 0.5;
}

.btnn:hover {
    background-color: #024969;
    border: #024969;
    font-family: 'Kantumruy Pro', sans-serif;
    text-decoration: none;
    color: white;
}

.topform .input-group button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 46px;
    border: none;
    border: 1px solid rgb(23, 152, 194);
    border-left: none;
    background-color: rgb(10, 111, 139);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

p,
b {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(10, 111, 139);
    font-size: 1em;
    line-height: 1;
}

/* .showdetail input{
    display: none; 
}
#data2 input{
    display: none; 
} */
.topform .input-group button:active {
    opacity: 0.8;
}

.topform .input-group button:hover {
    background-color: #024969;
    border: #024969;
}

.topform select {
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(10, 111, 139);
    width: 100%;
    height: 46px;
    color: #0082bc;
    border-radius: 5px;
    padding: 0px 10px;
}

#insertnew #new {
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(10, 111, 139);
    width: 100%;
    border: 1px solid rgb(10, 111, 139);
    color: #0082bc;
    border-radius: 5px;

}

.topform select:focus {
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solid rgb(10, 111, 139);
    width: 100%;
    color: rgb(10, 111, 139);
    border-radius: 5px;
    outline: none;

}

.topform select option {
    font-family: 'Kantumruy Pro', sans-serif;
    border: 1px solidrgb(10, 111, 139);
    width: 100%;
    border-radius: 5px;
    color: rgb(10, 111, 139);
}



.table {
    border-left: 1px solid rgb(10, 111, 139);
    border-right: 1px solid rgb(10, 111, 139);
}

.table>thead>tr>th {
    background-color: rgb(10, 111, 139);
    color: aliceblue;
    font-family: 'Kantumruy Pro', sans-serif;
}

.table>tbody>tr>td {
    border-bottom: 1px solid rgb(229, 241, 244);
}

.table>tbody>tr:hover td {
    background-color: #f8f8f8;
    color: rgb(10, 111, 139);
}

.right-panel .table td {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(10, 111, 139);
}


/* info-admin */
.info-admin {
    padding: 20px;
    margin-bottom: 10px;
    background-color: rgb(247, 247, 247);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

/* main box */
.right-panel .report-box .box {
    position: relative;
    display: flex;
    justify-content: space-around;

    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
    padding: 15px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0px;
}

/* box1 */
.right-panel .report-box .box .box1 {
    height: 130px;
    width: 270px;
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);
}

.right-panel .report-box .box .box1::before {
    content: '';
    display: block;
    width: 20px;
    height: 130px;
    background-color: rgb(10, 111, 139);

}

.right-panel .report-box .box .box2::before {
    content: '';
    display: block;
    width: 20px;
    height: 130px;
    background-color: rgb(8, 179, 8);

}

.right-panel .report-box .box .box3::before {
    content: '';
    display: block;
    width: 20px;
    height: 130px;
    background-color: rgb(252, 28, 28);

}

.right-panel .report-box .box .box4::before {
    content: '';
    display: block;
    width: 20px;
    height: 130px;
    background-color: #575757;

}

.right-panel .report-box .box .box1 .icon {
    font-size: 4.8em;
    position: relative;
    left: 40px;
    top: -110px;
    color: rgb(10, 111, 139);
}

.right-panel .report-box .box .box1 .data-sum {
    color: rgb(10, 111, 139);
    font-size: 2.9em;
    opacity: 1;
    left: 60%;
    top: 20px;
    font-weight: 600;
    width: 100%;
    position: absolute;
}

.right-panel .report-box .box .box1 .data-sum span {
    font-size: 0.4em;
    position: absolute;
    font-weight: 600;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}

/* box2 */
.right-panel .report-box .box .box2 {
    height: 130px;
    width: 270px;
    display: block;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.right-panel .report-box .box .box2 .icon {
    font-size: 4.8em;
    position: relative;
    left: 35px;
    top: -110px;
    color: rgb(8, 179, 8);
}

.right-panel .report-box .box .box2 .data-sum {
    color: rgb(8, 179, 8);
    font-size: 2.9em;
    opacity: 1;
    left: 70%;
    top: 20px;
    font-weight: 600;
    width: 30%;
    position: absolute;
}

.right-panel .report-box .box .box2 .data-sum span {
    font-size: 0.4em;
    top: 95%;
    left: -50px;
    position: absolute;
    font-weight: 600;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}

/* box 3 */
.right-panel .report-box .box .box3 {
    height: 130px;
    width: 270px;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.right-panel .report-box .box .box3 .icon {
    font-size: 4.8em;
    position: relative;
    left: 35px;
    top: -110px;
    color: rgb(252, 28, 28);
}

.right-panel .report-box .box .box3 .data-sum {
    color: rgb(252, 28, 28);
    font-size: 2.9em;
    opacity: 1;
    left: 70%;
    top: 20px;
    font-weight: 600;
    width: 30%;
    position: absolute;
}

.right-panel .report-box .box .box3 .data-sum span {
    font-size: 0.4em;
    top: 95%;
    left: -50px;
    position: absolute;
    font-weight: 600;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}

/* box4 */

.right-panel .report-box .box .box4 {
    height: 130px;
    width: 270px;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.8);

}

.right-panel .report-box .box .box4 .icon {
    font-size: 4.8em;
    position: relative;
    left: 35px;
    top: -110px;
    color: #575757;
}

.right-panel .report-box .box .box4 .data-sum {
    color: #575757;
    font-size: 2.9em;
    opacity: 1;
    left: 70%;
    top: 20px;
    font-weight: 600;
    width: 30%;
    position: absolute;
}

.right-panel .report-box .box .box4 .data-sum span {
    font-size: 0.4em;
    top: 95%;
    left: -20px;
    position: absolute;
    font-weight: 600;
    text-align: center;
    font-family: 'Kantumruy Pro', sans-serif;
}


/* login */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: rgb(23, 152, 194);
    background: linear-gradient(27deg, rgba(23, 152, 194, 1) 0%, rgba(43, 197, 233, 1) 50%, rgba(68, 247, 185, 1) 100%);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.body {
    padding: 25px;
    background-color: rgb(31, 30, 30);
    font-size: 25px;
}

.acc-show {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 20px;
}

.acc-show .pf-acc {
   /* width: 68px !important;*/
    height: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    overflow: hidden;
}

.acc-show .pf-acc:hover {
    background-color: #ffffff7e;
    transition: 0.5s;
}

.acc-show .pf-acc img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

.acc-show .pf-acc:active {
    opacity: 0.3;
}

.detail {
    height: 190px;
    width: 170px;
    background-color: whitesmoke;
    position: absolute;
    display: none;
    left: -70px;
    top: 38px;
    border-radius: 10px;
    box-shadow: 0px 1px 5px -1px rgb(105, 105, 105);
}

.detail::before {
    content: '';
    width: 100%;
    height: 40px;
    display: block;
    background: rgb(23, 152, 194);
    background: linear-gradient(27deg, rgba(23, 152, 194, 1) 0%, rgba(43, 197, 233, 1) 50%, rgba(68, 247, 185, 1) 100%);

    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.detail .pf {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.detail .pf img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 20px;
    border-radius: 50%;

}

.detail .pf-title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #222;
    font-size: 1.1em;
}

.detail .pf-title span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 150px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail .pf-title::after {
    content: '';
    display: block;
    background-color: #bdbdbd;
    width: 55%;
    position: absolute;
    height: 1px;
    top: 30px;

}

.detail .pf-menu {
    position: relative;
    width: 100%;
    display: block;
    top: 10px;
    left: 0;
    justify-content: start;
    align-items: center;
    color: #222;
    font-size: 1em;
}

.detail .pf-menu ul {
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: left;
    padding: 0px 5px;
}

.detail .pf-menu ul li {
    width: 100%;

    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
    left: 0;
    top: 3px;
    padding: 8px 0px;
}

.detail .pf-menu ul li:hover {
    background-color: #99999998;
    border-radius: 10px;
}

.detail .pf-menu ul li a {
    text-decoration: none;
    color: #575757;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 25px;
}

.detail .pf-menu .icon {
    position: relative;
    margin-right: 15px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail .pf-menu .text {
    position: relative;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2px;
    font-family: 'Poppins', sans-serif;
}

.detail .pf-menu .text1 {
    position: relative;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    font-family: 'Poppins', sans-serif;
}

.left-panel .pf {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-panel .pf img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 30px;
}

.left-panel .pf-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-panel .pf-title span {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
    color: rgb(10, 111, 139);
    word-wrap: break-word;
    width: 150px;
}

.left-panel.active .pf {
    display: none;
    transition: ease 1s;
}

.left-panel.active .pf-title {
    display: none;
    transition: ease 1s;
}

/* .left-panel .pf-title span::after {
    content: '';
    display: block;
    background-color: #cccccc;
    width: 65%;
    justify-content: center;
    position: absolute;
    height: 1px;
    top: 60px;

} */

.img-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 140px;
    top: 25px;
    height: 180px;
    overflow: hidden;
    background-color: #edf3f7;
    border-radius: 5px;
    box-shadow: 0px 8px 10px -4px rgb(105, 105, 105);
}

/* .right-panel.active #email,
.right-panel.active #tele {
    width: 400px;
    transition: all 0.5s;
}

.right-panel #email,
.right-panel #tele {
    width: 360px;
    transition: all 0.5s;
} */

.picture {
    background-color: #0082bc;
}

.chgimg {
    box-shadow: 0px 8px 10px -4px rgb(105, 105, 105);
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    right: 1px;
    bottom: 200px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.chgimg input[type="file"] {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;

}

.chgimg .icon {
    display: flex;
    justify-content: center;
    position: absolute;

}

.chgimg .icon ion-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: absolute;
    top: 20%;
    font-size: 1em;
    opacity: 1;
}

.img-choose input[type="file"] {
    font-size: 4em;
    width: 95px;
    height: 125px;
    cursor: pointer;
    opacity: 0;
}

.img-choose .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.img-choose .icon ion-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    pointer-events: none;
    font-size: 1.9em;
}

.dropdown-list {
    border: 1px solid rgb(10, 111, 139);
    outline: none;
    font-family: 'Kantumruy Pro', sans-serif;
    padding-left: 10px;
    width: 100%;
    color: #0082bc;
    height: 46px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
}

.dropdown ul {
    overflow-y: scroll;
    height: 300px;
    width: 100%;
}

.dropdown ul li a {
    font-family: 'Kantumruy Pro', sans-serif;
    color: #0082bc;
}

.dropdown ul li:hover a {
    font-family: 'Kantumruy Pro', sans-serif;
    color: aliceblue;
    background-color: #0082bc;
}

.dropdown ul li:active a:active {
    opacity: 0.5;
    color: #0082bc;
}

.showlist {
    display: none;
}

table thead tr th {
    font-size: 0.85em;
}

.dropdown ion-icon {
    font-size: 1.45em;
}

.dropdown a {
    font-size: 1em;
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(10, 111, 139);
}

.btnsave {
    width: 100px;
    padding: 6px;
    border: none;
    background-color: #024969;
}

.btnsave ion-icon {
    position: relative;
    top: 3px;
    right: 3px;
    font-size: 1.1em;
}

#showtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#h5 {
    font-family: 'Kantumruy Pro', sans-serif;
    margin-right: 2px;
    font-size: 1.1em;
    color: rgb(10, 111, 139);

}

.modal-header {
    height: 65px;
}

#modal-body {
    height: 62vh;
}

.detailpf {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.detailpf .cover {
    width: 100%;
    height: 180px;
    position: relative;
}

.detailpf .cover img {
    width: 100%;
    height: 180px;
    position: relative;
}

.detailpf .profile {
    width: 40px;
    height: 40px;
    position: absolute;
}

.detailpf .profile1 {
    width: 40px;
    height: 40px;
    position: absolute;
}


.detailpf .profile1 img {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
    top: 0px;
    left: -190px;
}

.detailpf .profile img {
    width: 160px;
    height: 160px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid rgb(39, 100, 255);
    top: 0px;
    left: -190px;
}

.namepf .pfname {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    top: 60px;
    left: 15px;
}

.namepf .pfname h4 {
    width: 100%;
    height: auto;

    position: relative;
    font-weight: 600;
    font-size: 1.4em;
}

.pfbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfbtn .story {
    display: flex;

    margin-top: 80px;
    width: 100%;
    justify-content: center;
    padding: 0px 15px;
}

.pfbtn button ion-icon {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

.contact {
    display: flex;
    position: relative;
    top: 20px;
    justify-content: center;
    align-items: center;
}

.contact a {
    font-size: 1.8em;
    color: grey;
    margin: 0px 10px;
}

/* input[type="file"]{
    opacity: 0;
}
.storyadd span{
 
    position: absolute;
    left: 71px;
    bottom:77px;
    pointer-events: none;
}
.storyadd ion-icon{

    position: absolute;
    font-size: 1.1em;
    left: 40px;
    bottom:80px;
    pointer-events: none;
} */

#exampleModalCenteraddstory {
    position: relative;
    left: -11px;
    height: 100vh;
}

#exampleModalCenterviewstory {
    position: relative;
    left: -1px;
    height: 100vh;
}

.showstory {
    margin: 0;
    padding: 0;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 1); */
}

.left {
    width: 221px;
    /* background-color: red; */
    transition: 0.5s;
    position: fixed;
}

.left-panel.active .left {
    width: 10px;
}

.right {
    position: absolute;
    width: calc(100% - 215px);
    left: 219px;
    transition: 0.5s;
    height: 30px;
    top: -30px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #cacaca;
    text-align: right;
}

.right span {
    font-family: 'Kantumruy Pro', sans-serif;
    padding-right: 15px;
}

.right-panel.active .right {
    width: calc(100% - 70px);
    left: 70px;
}

/* .right-panel.active .right span {
    width: calc(100% - 220px);
    left: 70px;
} */
.modal-dialog {
    width: 1100;
}

#exporvalue {
    display: none;
}

#aligncount {
    display: flex;
    align-items: center;
    padding: 7px 0;
}

.breadcrumb a {
    font-family: 'Kantumruy Pro', sans-serif;
    color: rgb(10, 111, 139);
    text-decoration: none;
}

.btncam {
    padding: 10px 0px;
}

/* .campus1,
.campus2
{
    display: none;
} */

.aboutus h3 span {
    font-family: 'Kantumruy Pro', sans-serif;
    /* color: rgb(10, 111, 139); */
}

.banner {
    background: rgba(0, 0, 0, 0.6) url('../image/team.jpg') no-repeat;
    background-size: cover;
    height: 495px;
    background-blend-mode: darken;
    filter: blur(0);
}

.banner h1 span {
    color: var(--white);
    font-size: 1.23em;
    position: relative;
    top: 20px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p {
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
}

.checked {
    color: orange;
}

.allpf {
    position: relative;
    /* background-color:rgb(10, 111, 139); */
    top: 35%;
    height: 40vh;
}

.teamwork {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 10%;
}

.teamwork .card1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.10);
    filter: blur("20px");
    height: 43vh;
    border: 1px solid rgb(160, 160, 160)
}

.teamwork .card1:nth-child(1):hover {
    border: 1px solid rgb(82, 197, 255);
    box-shadow: 1px 5px 10px -2px rgb(82, 197, 255);
}

.teamwork .card1:nth-child(2):hover {
    border: 1px solid rgb(73, 128, 255);
    box-shadow: 1px 5px 10px -2px rgb(73, 128, 255);
}

.teamwork .card1:nth-child(3):hover {
    border: 1px solid rgb(227, 48, 255);
    box-shadow: 1px 5px 10px -2px rgb(227, 48, 255);
}

.teamwork .card1:nth-child(4):hover {
    border: 1px solid rgb(66, 255, 161);
    box-shadow: 1px 5px 10px -2px rgb(66, 255, 161);
}

.teamwork .card1:hover {
    transform: translateY(-25px);
}

.teamwork .card1 ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    list-style: none;
    display: block;
    justify-content: center;
    align-items: center;
}

.teamwork .card1 ul li {
    line-height: 40px;
    text-align: center;
    color: rgb(226, 226, 226);
}

.teamwork .card1 ul li:nth-child(2) {
    font-size: 1.2em;
    font-weight: 600;
}

.teamwork .card1 ul li:nth-child(2)::after {
    content: "(Developer)";
    display: block;
    font-size: 0.8em;
    font-weight: 300;
    line-height: 20px;
}

.teamwork .card1 ul li a {
    margin: 0px 10px;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;

}

.teamwork .card1 ul li a .teampf {
    width: 100px;
    border-radius: 50%;
    text-align: center;
}

.txt {
    margin-top: 10%;
    display: flex;
    font-size: 1.23em;
    justify-content: center;
    align-items: center;
}

.caption p {
    line-height: 1.7;
    font-size: 1.1em;
    text-align: center;
    margin-top: 5%;
    color: black;
}

.caption p b {
    color: black;
}

.txt h1 {
    font-weight: 500;
    font-size: 2.6em;
}

/* .teacher .txt h1::after{
    content: "";
    display: flex;
    height: 3px;
    width: 100px;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: black;
} */
.teacher .txt {
    margin-top: 5%;

}

.bgstar img {

    margin-top: -2%;
    opacity: 0.6;
}

.professor1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* width: 100px; */
}

/* .proff{
    width: 200px;
} */
.professor {
    display: flex;
    justify-content: space-around;
    background-color: rgba(232, 232, 232, 0.1);
    /* padding: 30px 15px; */
    text-align: center;
    width: 100px;
    border-radius: 20px;

    /* border: 3px solid white; */
}

.professor img {
    border-radius: 50%;
    width: 100px;
    border: 5px solid white;
    margin-top: -15%;
}

.professor h3 {
    font-size: 1.4em;
    line-height: 1.8;
    font-weight: 600;
    margin-top: 1%;

}

.professor .proff {
    border: 1px solid rgb(218, 218, 218);
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s all ease;
    border-radius: 5px;
    padding-bottom: 10%;
}

.professor p {
    font-size: 1em;
    text-align: justify;
    color: black;
    line-height: 1.2;
    margin: 0px 5%;
    margin-bottom: 20px;
    /* border: 2px solid black; */
}

.professor .proff:hover {
    transform: scale(1.02);
    box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.8);
}


.banner h1,
.banner p,
.teamwork {
    display: block;
    text-align: center;
    animation: reveal 1.5s cubic-bezier(0.50, 1, 0.500, 1) 0s;
}

@keyframes reveal {
    0% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.up {
    bottom: 22px;
    position: fixed;
    right: 0;
    margin-bottom: 20px;
    /* position: relative; */
}

.up a {
    border-radius: 50%;
    font-size: 2em;
    text-align: right;
    display: block;
    text-decoration: none;
    color: #222;
    margin-right: 20px;
}

.up a .num {
    position: absolute;
    text-align: center;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.6em;
    right: 20px;
    top: -7;
}

.cmtt img {
    border-radius: 50%;
}

.cmtt b,
.cmtt h6 {
    color: #222;
}

.chooseimg {
    display: flex;
    justify-content: center;
}

.chooseimg .imgshow {
    background-color: #ebeff1;
    /* border: 3px solid rgb(37, 236, 250); */
    /* background: url('../image/user.jpg'); */
    /* background-color: #0082bc; */
    height: 20vh;
    width: 180px;
    height: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    border-radius: 50%;
    overflow: hidden;
}

.chooseimg .imgshow img {
    width: auto;
    height: 200px;
    color: #0082bc;
}

.chooseimg .file {
    display: flex;
    justify-content: center;

    padding: 4.5px;
    border-radius: 5px;
    background-color: rgb(24, 147, 241);
}

.chooseimg #imageUpload {
    opacity: 0;
}

.chooseimg .file span {
    pointer-events: none;
    position: absolute;
    top: 7.5px;
    color: white;
}

.showpf {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.showpf .dpro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.showpf .dpro img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.showpf .namee {
    display: flex;
    justify-content: center;
    align-items: center;
}

.showpf .info {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.showpf .info h5 {
    color: rgb(73, 73, 73);
    line-height: 1.6;
}


.login {
    background: rgba(0, 0, 0, 0.8) url("../image/beltei.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    filter: blur(0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login .lform {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 80vh;
    /* width: 70vw; */
    position: relative;
    margin: 0;
    border-radius: 20px;
    box-shadow: 1px 5px 10px -2px rgb(82, 197, 255);
    border: 1px solid rgb(82, 197, 255);
    background-color: rgba(0, 0, 0, 0.2);
    /* background-color: #0082bc; */
}

.login .lform .headtxt {
    text-align: center;
    color: white;
    height: 2vh;

}

.login .lform .headtxt h2 {
    font-size: 2.5em;
    font-weight: bolder;
    margin-top: 10%;
}

.login .lform .headtxt p {
    font-size: 1em;
    color: white;
    margin-bottom: 10%;
}

.login .lform .input {
    display: block;
    margin-top: -10%;
    justify-content: center;
    align-items: center;
    color: white;
}

.login .lform .input .email,
.login .lform .input .pass {
    width: 100%;
    padding: 5px 2px;
    transition: ease all 0.5s;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.login .lform .input .email:focus,
.login .lform .input .pass:focus {
    width: 100%;
    padding: 5px 2px;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    /* box-shadow: 1px 3px 1px -2px rgb(82, 197, 255); */
    border-bottom: 1px solid rgba(10, 97, 196, 0.989);
}

.login .lform .input span .email:focus,
.login .lform .input span .pass:focus {
    transition: ease all 0.5s;
    position: absolute;
    top: 20px;
}

.shpw {
    display: flex;
    align-items: center;
}
.shpw .check{
    position: absolute;
    right: 10px;
    opacity: 0;
    width: 30px;
    height: 30px;
}
.shpw .icon{
    position: absolute;
    right: 10px;
    font-size: 1.3em;
    pointer-events: none;
}

.newacc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newacc {
    color: white;
    font-size: 0.9em;
}

.but {
    display: flex;
    align-items: center;
}

.loginbtn {

    background: rgb(10, 232, 211);
    background: linear-gradient(143deg, rgba(10, 232, 211, 1) 0%, rgba(0, 97, 230, 0.989233193277311) 55%, rgba(0, 49, 131, 0.9808298319327731) 92%);
}

#barchart_material {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    margin-bottom: 10%;
    padding: 100px;
    height: 700px;
}


/* notification */
.noti {
    display: flex;
    justify-content: right;
    align-items: center;
    /* bottom: 22px; */
    /* position: fixed; */
    right: 12px;
    position: relative;
    padding: 4px;
}

.noti:hover {
    display: flex;
    justify-content: right;
    align-items: center;
    /* bottom: 22px; */
    /* position: fixed; */
    background-color: #e0e0e029;
    right: 12px;
    position: relative;
    border-radius: 50%;
}

.noti a {
    border-radius: 50%;
    font-size: 1.9em;
    text-align: right;
    display: block;
    text-decoration: none;
    color: rgb(26, 26, 26);
    display: flex;
    justify-content: right;
    align-items: center;


}

.noti a .num {
    position: absolute;
    text-align: center;
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 0.6em;
    right: 2px;
    top: -0px;

}

 .notification {
    display: none;
    justify-content: center;
    width: 400px;
    height: 60vh;
    top: 6vh;
   right: 6%;
   font-size: 1em;
    position: absolute;
    border-radius: 10px; 
    background-color: rgb(255, 255, 255); 
    box-shadow: 1px 3px 7px -4px;
     /* background: rgb(10, 232, 211); 
    background: linear-gradient(143deg, rgba(10, 232, 211, 1) 0%, rgba(0, 97, 230, 0.989233193277311) 55%, rgba(0, 49, 131, 0.9808298319327731) 92%); */
    overflow-y: scroll;
    /* border-image: linear-gradient(143deg, rgba(10, 232, 211, 1) 0%, rgba(0, 97, 230, 0.989233193277311) 55%, rgba(0, 49, 131, 0.9808298319327731) 92%); */
    /* border-image: linear-gradient(to left, #743ad5, #d53a9d); */
  border: 2px solid rgb(239, 239, 239);
    overflow: hidden;
    /* border: 2px solid rgba(26, 107, 248, 0.793);; */
}


::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
   border-radius: 50px;
   background: rgb(10, 111, 139);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(10, 111, 139);
    /* background: rgb(10, 232, 211);
     background: linear-gradient(143deg, rgba(10, 232, 211, 1) 0%, rgba(0, 97, 230, 0.989233193277311) 55%, rgba(0, 49, 131, 0.9808298319327731) 92%);  */
  border-radius: 50px;
}

.notification .info {
  color: #fefefe;
    padding: 10px;
    font-size: 1.2em;
    background: rgb(10, 232, 211);
    background: linear-gradient(143deg, rgba(10, 232, 211, 1) 0%, rgba(0, 97, 230, 0.989233193277311) 55%, rgba(0, 49, 131, 0.9808298319327731) 92%); 
 
}

/* .notification .info::after {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    color: grey;
    background-color: #0082bc;
    margin-top: 5px;
} */
.shownoti{
  
    display: flex;
    justify-content: center;
}
.shownoti a{
    text-decoration: none;
    padding: 0px 0px;
  
}
.msg{
    display: flex;
    justify-content: start;
    align-items: center;
}
.msg .txt{
    color: rgb(38, 38, 38);
    font-size: 1em;
}
.msg .txt b{
    color: rgb(79, 79, 79);
    font-size: 0.90em;
    font-family: 'Poppins', sans-serif;

}
.msg .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg .image img{
    border-radius: 50%;
}

