﻿/*narbar style*/
.navbar .navbar-nav .nav-link {
    color: #ffffff;
}

.sm-icons {
    flex-direction: row;
}

    .sm-icons .nav-link {
        padding-right: 1em;
    }
/* //narbar style*/
/* card style */
.card {
    width: 18rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

.card-img-top {
    height: 200px;
    overflow: hidden;
}

    .card-img-top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.card-body {
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
}
/* card style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box-menu {
    background-color: #F6F7FB;
    width: 100%;
    padding: 20px;
}

    .box-menu ul > li > a {
        color: rgb(97, 97, 97);
        font-size: 14px;
    }

        /*.box-menu ul > li > a:hover {
            transition: 1s;
            color: rgb(255, 103, 1);
        }
*/
#កំណត់ {
    border: none;
    background-color: black;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

    #កំណត់:hover {
        transition: .50s;
        background-color: rgb(255, 103, 1);
    }

.card:hover {
    cursor: pointer;
    transition: .50s;
    box-shadow: rgb(230, 230, 230) 1px 1px 3px 3px;
}

.mt-1 {
    color: rgb(87, 51, 51);
}
